/* For Small Devices */

@media only screen and (max-width:600px) {
    .color-section {
        margin-right: 10px;
        opacity: 0.95;
        /* margin-top: 5px; */
    }
}


/* Tablet and Medium Devices */

@media only screen and (min-width: 768px) {}


/* LabTop and Desktop Devices */

@media only screen and (min-width: 992px) {
    .color-section {
        margin-right: 20px;
        opacity: 0.95;
    }
}


/* Large Laptops and Desktop */

@media only screen and (min-width: 1200px) {
    .color-section {
        margin-right: 20px;
        opacity: 0.95;
    }
}